/*
    FILE: style.css
    DATE: 2022-06-21    ISO-8601
    AUTHOR: 
    DESCRIPTION: General Styling

*/
body{
    background-color: #00FFFF;
    color: #0000FF;
    height: 100%;
    text-align: center;
}

h1{
    font-family: Helvetica;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 20px;
}
h2{
    font-family: Helvetica;
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
    margin-bottom: 2%;

}

button{
    margin-top: 20px;
    margin-bottom: 20%;
}

ol{
    font-size: medium;
    padding: 0 15%;
    margin-bottom: 5%;
}

ul{
    padding-bottom: 3%;
}

ol{
    margin: 0 20% 5% 20%;
    padding-bottom: 5%;
    background-color: #002db3;
}

ol li{
    list-style-type: decimal;
    font-weight: bold;
    line-height: 40px;
    align-items: center;
}

ol :nth-child(odd){
    background-color: #00B3B3;
    color: white;
}

.first-answer-correct{
    background-color: #B34800;
    color: white;
}

.first-answer-correct #secondSection{
    border: #7d005e 3px;
    border-style: solid;
    background-color: #b30000;
    color:#B34800;
}

.first-answer-correct #secondSection > h2{
    background-color: #B34800;
    color: white;
}

.first-answer-correct ol{
    background-color: #B34800;
    color: white;

}

.first-answer-correct ol :nth-child(odd){
    background-color: #7D0000;
}

#secondSection{
    border: #002DB3 3px;
    border-style: solid;
    background-color: #5500FF;
    color:#00FFFF;
    text-align: center;
}

#secondSection > h2{
    background-color: #002db3;
    width: 60%;
    margin: 5% 20% 0 20%;
    padding: 5% 0;
    
}

div{
    width: 20%;
    float: left;
    margin: 10px;
    height: 90%;
}

button{
    margin: auto;
    position: fixed;
    bottom: 80px;
}

footer{
    position: fixed;
    height: 45px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: black;
    font-size: larger;
    padding-top: 25px;
    text-align: left;
}

#center{
    width: 60%;
}